@media screen and (max-width: 1200px) {
    main .package-section .package-content-container .text-package {
        padding-inline: 8rem;
    }
}

@media screen and (max-width: 970px) {
    header .navigasi-container {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #ffff;
        width: 15rem;
        height: 100vh;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        text-align: end;
        padding: 10px 10px;
        transition: right 0.5s ease;
    }

    header .navigasi-container.active {
        right: 0;
    }

    header .navigasi-container ul {
        flex-direction: column;
        order: 2;
        gap: 1.9rem;
    }
    
    header .navigasi-container .button-SU-SI {
        order: 1;
    }

    .box1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        border-radius: 5px;
        z-index: 10;
        cursor: pointer;
    }

    .box1::before,
    .box1::after,
    .box1 input {
        content: '';
        height: 3px;
        width: 25px;
        background-color: #EB3F3F;
        border-radius: 5px;
        transform-origin: center;
        transition: transform .5s ease-in-out, opacity .5s, width .5s;
        z-index: 9;
    }

    .box1 input {
        appearance: none;
        outline: none;
        pointer-events: none;
        margin-left: 2px;
        width: 24px;
    }

    .box1 input:checked {
        opacity: 0;
        width: 0;
    }

    .box1:has(input:checked)::before {
        transform: translateY(8px) rotate(45deg);
    }

    .box1:has(input:checked)::after {
        transform: translateY(-8px) rotate(-45deg);
    }

    main .package-section .package-content-container .text-package {
        padding-inline: 2rem;
    }

    footer .footer-container .footer-content-container .lisence p {
        text-align: start;
    }

    footer .footer-container .footer-content-container .lisence .up-button {
        float: left;
    }
}

@media screen and (max-width: 768px) {
    main .hero-section .text-hero {
        font-size: 20px;
    }

    main .hero-section .head-hero {
        font-size: 70px;
    }

    main .package-section .package-content-container {
        padding: 5rem 70px;
    }

    main .package-section .package-content-container .text-package {
        padding-inline: 3px;
    }

    main .quotes-section .quotes-content-container {
        display: flex;
        flex-direction: column;
        padding-block: 7rem;
    }
}

@media screen and (max-width: 720px) {
    main .package-section .package-content-container {
        padding: 5rem 50px;
    }

    main .package-section .package-content-container .head-package {
        font-size: 40px;
    }

    main .package-section .package-content-container .text-package {
        font-size: 15px;
        padding-inline: 0;
    }

    footer {
        padding: 2rem 70px;
    }

    footer .footer-container .footer-logo-container img {
        height: 130px;
    }

    footer .footer-container .footer-logo-container .text-logo {
        font-size: 50px;
    }
}

@media screen and (max-width: 576px) {
    main .hero-section {
        padding-inline: 40px;
    }

    main .hero-section .head-hero {
        font-size: 60px;
    }

    main .package-section .package-content-container .head-package {
        font-size: 35px;
    }

    main .package-section .package-content-container {
        padding: 5rem 30px;
    }

    main .package-section .package-content-container .text-package {
        font-size: 13px;
    }

    main .quotes-section .quotes-content-container .img-container .img1 {
        height: 280px;
        width: 230px;
    }

    main .quotes-section .quotes-content-container .img-container .img2 {
        height: 280px;
        width: 230px;
    }

    footer {
        padding: 2rem 30px;
    }
}

@media screen and (max-width: 440px) {
    main .hero-section .head-hero {
        font-size: 50px;
    }


    main .quotes-section .quotes-content-container .img-container .img1 {
        height: 240px;
        width: 190px;
    }

    main .quotes-section .quotes-content-container .img-container .img2 {
        height: 240px;
        width: 190px;
    }

    main .quotes-section .quotes-content-container .text-quotes-container .head-quotes {
        font-size: 40px;
    }

    footer .footer-container .footer-content-container .footer-list .list1 p,
    .list2 p,
    .list3 p {
        font-size: 16px;
    }

    footer .footer-container .footer-content-container .footer-list .list1 ul li a,
    .list2 ul li a,
    .list3 ul li a {
        font-size: 14px;
    }

    footer .footer-container .footer-content-container .lisence p {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    main .hero-section {
        padding-inline: 20px;
    }

    main .hero-section .text-hero {
        font-size: 15px;
    }

    main .hero-section .head-hero {
        font-size: 40px;
    }

    main .hero-section .lm-button {
        font-size: 18px;
    }

    main .package-section .package-content-container {
        padding: 5rem 10px;
    }

    main .package-section .package-content-container .head-package {
        font-size: 27px;
    }

    main .package-section .package-content-container .text-package {
        font-size: 13px
    }

    main .package-section .choice-package .package1,
    main .package-section .choice-package .package2,
    main .package-section .choice-package .package3 {
        font-size: 20px;
    }

    main .quotes-section .quotes-content-container .img-container .img1 {
        height: 210px;
        width: 160px;
        margin-left: -20px;
    }

    main .quotes-section .quotes-content-container .img-container .img2 {
        height: 210px;
        width: 160px;
        margin-left: 50px;
    }

    footer {
        padding: 2rem 10px;
    }

    footer .footer-container .footer-content-container .footer-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}