body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  height: 100%;
}

.signup-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.image-section {
  flex: 1;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/images/signup.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
  margin: 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

.image-section .logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 32px;
}

.image-section .logo img {
  width: 40px;
  margin-right: 10px;
}

.image-section .logo .logo-net {
  color: #ff4500;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15%;
  box-sizing: border-box;
  background-color: white;
}

h1 {
  text-align: left;
  color: black;
  margin-bottom: 32px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #d90429;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.input-group input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(217, 4, 41, 0.5);
}

.input-group input::placeholder {
  font-style: italic;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-group input {
  margin-right: 10px;
}

.checkbox-group label {
  font-size: 14px;
}

.btn-signup {
  /* width: 100%; */
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  background-color: #eb3f3f;
  color: white;
  font-size: 15px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-signup:hover {
  background-color: #b30021;
}

.login-link a {
  color: #d90429;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 1023px) {
  .image-section {
    display: none;
  }

  .signup-container {
    flex-direction: column;
    min-height: 100vh;
  }

  .form-section {
    padding: 40px 25px;
    flex: 1;
  }

  .form-section h1 {
    text-align: center;
    font-size: 28px;
  }
}
